@model Group5.Models.Brand

@{
    ViewData["Title"] = "EditBrand";
}
<style>
    h1 {
        color: green;
    }

    hr {
        border-color: white;
    }

    .row {
        margin: 20px;
    }

    form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        color: black;
    }

    input,
    select,
    button {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: green;
        color: white;
        cursor: pointer;
    }

    .form-check {
        display: flex;
        align-items: center;
    }

    .form-check-input {
        margin-right: 5px;
    }
</style>

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success">
        @TempData["message"]
    </div>
}
@if (TempData.ContainsKey("success"))
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@if (TempData.ContainsKey("error"))
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<h1 style="text-align:center">Edit Brand</h1>

<hr />
<div class="row" style="display:flex;justify-content:space-between;align-items:center">
    <div class="col-md-4">
        <form asp-action="EditBrand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" type = "file" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                <button type="submit" class="btn btn-danger confirm">Confirm</button> <br />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger confirm" asp-action="Brand">Back to List</a>
</div>
