@model Group5.Models.StationeryItem

@{
    ViewData["Title"] = "EditHiddenStationery";
}

<style>
    h1 {
        color: green;
    }

    hr {
        border-color: white;
    }

    .row {
        margin: 20px;
    }

    form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        color: black;
    }

    input,
    select,
    button {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: green;
        color: white;
        cursor: pointer;
    }

    .form-check {
        display: flex;
        align-items: center;
    }

    .form-check-input {
        margin-right: 5px;
    }

    a {
        color: white;
    }
</style>
@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success">
        @TempData["message"]
    </div>
}
@if (TempData.ContainsKey("success"))
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@if (TempData.ContainsKey("error"))
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<h1 style="text-align:center">Edit Hidden Stationery</h1>

<hr />
<div class="row" style="display:flex;justify-content:space-between;align-items:center">
    <div class="col-md-4">
        <form asp-action="EditHiddenStationery">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @* <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="TypeOfQuantity" class="control-label"></label>
                <input asp-for="TypeOfQuantity" class="form-control" />
                <span asp-validation-for="TypeOfQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockLvId" class="control-label"></label>
                <select asp-for="StockLvId" class="form-control" asp-items="ViewBag.StockLvId"></select>
                <span asp-validation-for="StockLvId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseLessId" class="control-label"></label>
                <select asp-for="UseLessId" class="form-control" asp-items="ViewBag.UseLessId"></select>
                <span asp-validation-for="UseLessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastStockOut" class="control-label"></label>
                <input asp-for="LastStockOut" class="form-control" />
                <span asp-validation-for="LastStockOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isCheckUseLess" class="control-label"></label>
                <input asp-for="isCheckUseLess" class="form-control" />
                <span asp-validation-for="isCheckUseLess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckForUseLessTime" class="control-label"></label>
                <input asp-for="CheckForUseLessTime" class="form-control" />
                <span asp-validation-for="CheckForUseLessTime" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                <button type="submit" class="btn btn-danger confirm">Confirm</button> <br />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger confirm">Back to List</a>
</div>

