@model Group5.Models.StockLevel

@{
    ViewData["Title"] = "CreateStockLevel";
}

<style>


	/*---------------------------------------------*/
	a {
		font-family: Poppins-Regular;
		font-size: 14px;
		line-height: 1.7;
		color: #666666;
		margin: 0px;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		-moz-transition: all 0.4s;
	}

		a:focus {
			outline: none !important;
		}

		a:hover {
			text-decoration: none;
			color: #57b846;
		}

	/*---------------------------------------------*/
	h1, h2, h3, h4, h5, h6 {
		margin: 0px;
	}

	p {
		font-family: Poppins-Regular;
		font-size: 14px;
		line-height: 1.7;
		color: #666666;
		margin: 0px;
	}

	ul, li {
		margin: 0px;
		list-style-type: none;
	}


	/*---------------------------------------------*/
	input {
		outline: none;
		border: none;
	}

	textarea {
		outline: none;
		border: none;
	}

		textarea:focus, input:focus {
			border-color: transparent !important;
		}

			input:focus::-webkit-input-placeholder {
				color: transparent;
			}

			input:focus:-moz-placeholder {
				color: transparent;
			}

			input:focus::-moz-placeholder {
				color: transparent;
			}

			input:focus:-ms-input-placeholder {
				color: transparent;
			}

			textarea:focus::-webkit-input-placeholder {
				color: transparent;
			}

			textarea:focus:-moz-placeholder {
				color: transparent;
			}

			textarea:focus::-moz-placeholder {
				color: transparent;
			}

			textarea:focus:-ms-input-placeholder {
				color: transparent;
			}

	input::-webkit-input-placeholder {
		color: #999999;
	}

	input:-moz-placeholder {
		color: #999999;
	}

	input::-moz-placeholder {
		color: #999999;
	}

	input:-ms-input-placeholder {
		color: #999999;
	}

	textarea::-webkit-input-placeholder {
		color: #999999;
	}

	textarea:-moz-placeholder {
		color: #999999;
	}

	textarea::-moz-placeholder {
		color: #999999;
	}

	textarea:-ms-input-placeholder {
		color: #999999;
	}

	/*---------------------------------------------*/
	button {
		outline: none !important;
		border: none;
		background: transparent;
	}

		button:hover {
			cursor: pointer;
		}

	iframe {
		border: none !important;
	}


	/*//////////////////////////////////////////////////////////////////
	[ Utility ]*/
	.txt1 {
		font-family: Poppins-Regular;
		font-size: 13px;
		line-height: 1.5;
		color: #999999;
	}

	.txt2 {
		font-family: Poppins-Regular;
		font-size: 13px;
		line-height: 1.5;
		color: #666666;
	}


	/*//////////////////////////////////////////////////////////////////
	[ login ]*/

	.limiter {
		width: 100%;
		margin: 0 auto;
	}

	.container-login100 {
		width: 100%;
		min-height: 80vh;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding-top: -20px;
		padding: 15px;
	}

	.wrap-login100 {
		width: 960px;
		background: #fff;
		border-radius: 10px;
		overflow: hidden;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 100px 130px 40px 95px;
	}

	/*------------------------------------------------------------------
	[  ]*/
	.login100-pic {
		width: 316px;
	}

		.login100-pic img {
			max-width: 100%;
		}


	/*------------------------------------------------------------------
	[  ]*/
	.login100-form {
		width: 290px;
	}

	.login100-form-title {
		font-family: Poppins-Bold;
		font-size: 24px;
		color: #333333;
		line-height: 1.2;
		text-align: center;
		width: 100%;
		display: block;
		padding-bottom: 54px;
	}


	/*---------------------------------------------*/
	.wrap-input100 {
		position: relative;
		width: 100%;
		z-index: 1;
		margin-bottom: 10px;
	}

	.input100 {
		font-family: Poppins-Medium;
		font-size: 15px;
		line-height: 1.5;
		color: #666666;
		display: block;
		width: 100%;
		background: #e6e6e6;
		height: 50px;
		border-radius: 25px;
		padding: 0 5px 0 20px;
	}


	/*------------------------------------------------------------------
	[ Focus ]*/
	.focus-input100 {
		display: block;
		position: absolute;
		border-radius: 25px;
		bottom: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 0px 0px;
		color: rgba(87,184,70, 0.8);
	}

	.input100:focus + .focus-input100 {
		-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
		animation: anim-shadow 0.5s ease-in-out forwards;
	}


	.symbol-input100 {
		font-size: 15px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		position: absolute;
		border-radius: 25px;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-left: 35px;
		pointer-events: none;
		color: #666666;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}

	.input100:focus + .focus-input100 + .symbol-input100 {
		color: #57b846;
		padding-left: 28px;
	}

	/*------------------------------------------------------------------
	[ Button ]*/
	.container-login100-form-btn {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 20px;
	}

	.login100-form-btn {
		font-family: Montserrat-Bold;
		font-size: 20px;
		line-height: 1.5;
		color: white;
		text-transform: uppercase;
		width: 100%;
		height: 50px;
		border-radius: 25px;
		background: #57b846;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 25px;
	}

		.login100-form-btn:hover {
			background: #333333;
		}





	/*------------------------------------------------------------------
	[ Alert validate ]*/

	.validate-input {
		position: relative;
	}

	.alert-validate::before {
		content: attr(data-validate);
		position: absolute;
		max-width: 70%;
		background-color: white;
		border: 1px solid #c80000;
		border-radius: 13px;
		padding: 4px 25px 4px 10px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 8px;
		pointer-events: none;
		font-family: Poppins-Medium;
		color: #c80000;
		font-size: 13px;
		line-height: 1.4;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.4s;
		-o-transition: opacity 0.4s;
		-moz-transition: opacity 0.4s;
		transition: opacity 0.4s;
	}

	.alert-validate::after {
		content: "\f06a";
		font-family: FontAwesome;
		display: block;
		position: absolute;
		color: #c80000;
		font-size: 15px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 13px;
	}

	.alert-validate:hover:before {
		visibility: visible;
		opacity: 1;
	}

</style>
@if (TempData.ContainsKey("success"))
{
    <div class="alert alert-success" style="font-size:25px">
        @TempData["success"]
    </div>
}

@if (TempData.ContainsKey("error"))
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}
@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-danger">
        @TempData["message"]
    </div>
}




<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="https://lamdong.edu.vn/Images/logologin.png" alt="IMG">
			</div>

			<form asp-action="CreateStockLevel" class="login100-form validate-form">
				<span class="login100-form-title">
					Create StockLevel
				</span>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group wrap-input100 validate-input">
					<label asp-for="MinQuantity" class="control-label"></label>
					<input asp-for="MinQuantity" id="MinQuantity" class="form-control input100" onblur="checkInput('MinQuantity', '.content_required')" onclick="requiresInput('.content_required')" />
					<label class="content_required" style="color: salmon; font-size:14px;"></label>
				</div>

				<div class="form-group wrap-input100 validate-input">
					<label asp-for="Level" class="control-label"></label>
					<input asp-for="Level" id="Level" class="form-control input100" onblur="checkInput('Level', '.level_content_required')" onclick="requiresInput('.level_content_required')" />
					<label class="level_content_required" style="color: salmon; font-size:14px;"></label>
					<span asp-validation-for="Level" class="text-danger focus-input100" style="color:red;text-align:right"></span>
				</div>
				
				<div class="form-group container-login100-form-btn">
					<input type="submit" value="Create" class="login100-form-btn" />
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function checkInput(inputId, contentId) {
		var inputElement = document.getElementById(inputId);
		var contentElement = document.querySelector(contentId);

		if (inputElement.value.trim() === '') {
			contentElement.innerText = 'Please fill out this field';
		} else {
			contentElement.innerText = '';
		}
	}-

	// Hàm được gọi khi người dùng click vào input
	function requiresInput(contentId) {
		var contentElement = document.querySelector(contentId);
		contentElement.innerText = '';
	}
</script>